<div class="container">
    <div class="col-12 flex-row-reverse">
        <partial name="_LoginPartial" />
    </div>
    <div class="col-12 row">
        <div class="col-lg-6 col-12">
            <img src="~/img/logo.png" class="img-fluid" />
        </div>
        <div class="col-lg-6 col-12 address pt-2 text-center text-lg-left">
            <h1>Apartmani Tokić</h1>
            <h3>Put Sv. Križa 38</h3>
            <h3>Otok Čiovo - Mastrinka</h3>
            <h3>Tel: +385 98 936 4321</h3>
        </div>
    </div>
</div>