<li class="nav-item dropdown text-white-50">
    <a class="nav-link dropdown-toggle text-dark" href"#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Content Management
    </a>
    <div class="dropdown-menu bg-light text-dark manage-dropdown" aria-labelledby="navbarDropDownMenuLink">
        <div class="nav-item">
            <a class="nav-link text-dark" asp-area="Images" asp-page="/Index">Images</a>
        </div>
        <div class="nav-item">
            <a class="nav-link text-dark" asp-area="ImageCategories" asp-page="/Index">Image Categories</a>
        </div>
    </div>
</li>